@charset "UTF-8";
html {
  height: 100%;
  font-size: 10pt;
  font-family: arial;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.section, div.interface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section > *, div.interface > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.section > header, div.interface > header, .section > footer, div.interface > footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background-color: rgba(0, 0, 0, 0.3);
  padding: .5em;
}

.section > footer, div.interface > footer {
  -webkit-box-ordinal-group: 1001;
      -ms-flex-order: 1000;
          order: 1000;
}

.colonnes, div.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.colonnes > *, div.body > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.colonnes > * + *, div.body > * + * {
  margin-left: 1em;
}

.enum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.enum > * {
  background-color: rgba(0, 0, 0, 0.1);
  background-color: #eeeef6;
  margin: .2em;
  padding: .2em .5em;
}

.hierarchy ul {
  padding-left: 4ch;
}

.hierarchy ul ::marker {
  content: "☼ ";
}

.encadre, .encadres > * {
  border: 1px solid #99a;
  padding: 1em;
  margin: 0.5em 0;
}

.encadre > *:first-child, .encadres > * > *:first-child {
  margin-top: 0;
}

div.colonne {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15em;
          flex: 0 0 15em;
}

div.interface > header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

div.interface > header a {
  color: inherit;
  text-decoration: inherit;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  padding: .25em 1em;
}

div.bloccode {
  font-family: monospace;
  border: 1px solid #ccc;
  margin-bottom: .5em;
}

div.bloccode > * {
  white-space: pre;
  padding: .25ch;
}

div.bloccode > *:nth-child(odd) {
  background-color: #f7f7f7;
}

div.bloccode > *:nth-child(even) {
  background-color: white;
}

#sommaire {
  position: -webkit-sticky;
  position: sticky;
  top: 1em;
  bottom: 1em;
}

#sommaire a {
  color: inherit;
  text-decoration: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  padding: .2em;
}

#sommaire ul {
  border-left: 0.25em solid rgba(0, 0, 0, 0.1);
  margin-left: 0.2em;
  padding-left: 0.2em;
}

#sommaire li {
  margin: .2em 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

li > b:first-child {
  font-weight: bold;
}

li > b:first-child:after {
  content: ":";
}

@media print {
  div.colonne {
    display: none;
  }
}
/*# sourceMappingURL=docs.css.map */